/* Utility styles and classes */

html {
	font-family: Helvetica, sans-serif;
}

.structural {
	display: none;
}

%ir {
	display: block;
	background-size: 100%;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

/* basic styling */

a {
	color: #000;
	text-decoration: none;
}
