/* Utility styles and classes */

html {
	font-size: 62.5%;
	font-family: $helvetica;
	font-weight: 300;
	box-sizing: border-box;
}

body {
	font-size: 1.6rem;
}

*, *:before, *:after {
	box-sizing: inherit;
}

%wrapper {
	max-width: 960px;
}

.structural {
	display: none;
}

%ir {
	display: block;
	background-size: 100%;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

%clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

%dark {
	background-color: $dark;
	color: $light;

	a {
		color: $light;
	}
}

/* basic styling */

a {
	color: $dark;
	text-decoration: none;

	&:hover {
		color: $medium;
	}
}

ul {
	margin: 0;
	padding: 0;
}

ul {
	padding-left: 2rem;

	li {
		margin: 1rem;
		list-style-type: disc;
	}
}

blockquote {
	margin: 1rem;
	&::before {
		content: '“';
	}

	&::after {
		content: '”';
	}
}

.button {
	color: $dark;
	background-color: $light;
	border-radius: 2px;
	padding: 0.2rem 2rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
