/* image replacement */


// #wifi {
// 	@extend %ir;
// 	@extend %icons;
// 	background-image: url("../img/icon-wifi.png"); //todo
// }

// #furn {
// 	@extend %ir;
// 	@extend %icons;
// 	background-image: url("../img/icon-furnished.png"); //todo
// }

// #park {
// 	@extend %ir;
// 	@extend %icons;
// 	background-image: url("../img/icon-parking.png"); //todo
// }

// #airp {
// 	@extend %ir;
// 	@extend %icons;
// 	background-image: url("../img/icon-airport.png"); //todo
// }

// #clean {
// 	@extend %ir;
// 	@extend %icons;
// 	background-image: url("../img/icon-cleaning.png"); //todo
// }

// %sprite {
// 	overflow: hidden;
// 	margin: 0 auto;
// 	width: 46px;
// 	height: 40px;
// 	.airport, .furnished, .wifi, .parking, .furnished {
// 		display: none;
// 	}
// }

// #wifi {
// 	@extend %sprite;
// 	.wifi {
// 		fill: #F00;
// 	}


// }
// #furnished {
// 	@extend %sprite;
// }
// #parking {
// 	@extend %sprite;
// }
// #airport {
// 	@extend %sprite;
// }
// #cleaning {
// 	@extend %sprite;
// }


.icons svg {
	width: 40px;
	height: 46px;
	overflow: hidden;
	margin: 0 auto;
	text-align: center;
	display: block;
}
