/* image replacement */

// %logos {
// 	width: 50%;
// 	height: 8rem;
// 	float: left;
// }

// #wtf {
// 	@extend %ir;
// 	@extend %logos;
// 	background-image: url("../img/logo-world-travel-magazine.png")
// } //todo

// #tam {
// 	@extend %ir;
// 	@extend %logos;
// 	background-image: url("../img/logo-travel-agent-magazine.png")
// } //todo

// #atg {
// 	@extend %ir;
// 	@extend %logos;
// 	background-image: url("../img/logo-around-the-globe.png")
// } //todo

// #gv  {
// 	@extend %ir;
// 	@extend %logos;
// 	background-image: url("../img/logo-govacation.png")
// } //todo

%icons {
	width: 4rem;
	height: 4rem;
}

// #wifi {
// 	@extend %ir;
// 	@extend %icons;
// 	background-image: url("../img/icon-wifi.png"); //todo
// }

// #furn {
// 	@extend %ir;
// 	@extend %icons;
// 	background-image: url("../img/icon-furnished.png"); //todo
// }

// #park {
// 	@extend %ir;
// 	@extend %icons;
// 	background-image: url("../img/icon-parking.png"); //todo
// }

// #airp {
// 	@extend %ir;
// 	@extend %icons;
// 	background-image: url("../img/icon-airport.png"); //todo
// }

// #clean {
// 	@extend %ir;
// 	@extend %icons;
// 	background-image: url("../img/icon-cleaning.png"); //todo
// }

%sprite {
	overflow: hidden;
	width: 37px;
	margin: 0 auto;
}

#wifi {
	@extend %sprite;
	img {
		margin: 0 0 0 0;
	}
}
#furnished {
	@extend %sprite;
	img {
		margin: 0 -38px 0 0;
	}
}
#parking {
	@extend %sprite;
}
#airport {
	@extend %sprite;
}
#cleaning {
	@extend %sprite;
}
