/* Layout */

.half-wrapper {
	overflow: hidden;
	width: 100vw;
	.half {
		float: left;
		width: 40vw;
		padding: 0;
		min-height: 200px;

		@extend %clearfix;

		@media all and (max-width: 600px) {
			width: 100vw;
		}

		ul {
			padding-left: 2rem;

			li {
				margin: 1rem;
				list-style-type: disc;
			}
		}

		h2 {
			font-family: $condensed;
			padding: 1.5rem 0;
		}

		/* TODO: fix this */
		@media all and (min-width: 600px) {
			&:nth-of-type(4n), &:nth-of-type(4n-1) {
				background-color: $light-medium;
			}

			&:nth-of-type(2n) {
				padding-right: 10vw;
			}
			&:nth-of-type(2n-1) {
				padding-left: 10vw;
			}
		}
	}
}

.full {
	width: 80vw;
	padding: 0 10vw;
	font-family: $condensed;
	background: $light-medium;
}

iframe {
	width: 100%;
	height: 100%;
	min-height: 200px;
	border: 0;
}

.opening {
	height: 90vh;
	background-image: url("../img/hero.jpg");
	-webkit-animation: image 10s infinite ease-in-out;
	background-position: center;

	form {
		margin: 0 auto;
		@extend %dark;
		font-family: $sans;
		padding: 1rem;
		text-align: center;
		max-width: 98rem;

		input {
			color: $dark;
			font-size: inherit;
			&:focus {
				background-color: $medium;
			}

		}

		label {
			font-size: 1.2rem;
		}

		input[type=submit] {
			background-color: $light;
			border: none;
			font-family: $sans;
			padding: 0 2rem;
		}
	}

	.overlay {
		background-color: transparentize($light, 0.5);
		color: $dark;
		width: 30%;
		margin: 0 auto;
		text-align: center;
		margin-top: 20vh;

		h3 {
			font-size: 3rem;
			margin: 0;
		}

		p {
			padding: 1rem;
		}
	}
}

blockquote {
	float: left;
	font-style: italic;

	cite {
		margin-top: 1rem;
		font-style: normal;
		float: right;
	}
}

.icons {
	text-align: center;
	margin: 1rem;

	li {
		margin: 0 1rem;
		display: inline-block;
	}
}

.imageblock {
	background-color: $light;
	li {
		list-style-type: none;
		display: inline-block;
		width: 30%;
		margin: 0 9%;
		img {
			width: 100%;
			height: auto;
			margin: 0;
		}
	}
}
