/* Layout */

.half-wrapper {
	overflow: hidden;
	//width: 100vw;
	@media all and (min-width: 720px) { padding: 0 10vw; }

	&:nth-of-type(2n+1) {
		background-color: $light-medium;
	}


	@extend %clearfix;



	.half {
		float: left;
		width: 50%;
		min-height: 200px;
		overflow: hidden;

		img, iframe {
			max-height: 350px;
		}

		@extend %clearfix;

		@media all and (max-width: 720px) {
			width: 100vw;
		}

		h2 {
			font-family: $condensed;
			padding-bottom: 1.5rem;
		}

		p {
			padding-top: 1rem;
		}

		&:not(.image) {
			padding: 2rem;
		}

		&.first {
			font-family: $condensed;
			font-size: 3rem;
			h2 {
				background-color: $light;
				width: 100vw;
				clear: both;
			}
		}

		//
		// 	&:nth-of-type(2n) {
		// 		padding: 0 10vw 0 0;
		// 	}
		// 	&:nth-of-type(2n-1) {
		// 		padding: 0 0 0 10vw;
		// 	}
		// }
	}
}

h2.first {
	font-family: $condensed;
	padding-bottom: 1.5rem;
	font-size: 3rem;
	background-color: $light;
	padding: 1.5rem 10vw;
	width: 100%;
}

.full {
	width: 100%;
	padding: 2rem 10vw;
	font-family: $condensed;
	background: $light-medium;
	font-size: 2rem;

	h2 {
		margin: 1rem 0;
	}
}

iframe {
	width: 100%;
	height: 100%;
	min-height: 300px;
	border: 0;
}

.opening {
	height: 90vh;
	@media all and (max-width: 705px) {
		height: 120vh;
	}
	background-image: url("../img/hero.jpg");
	background-position: center;
	background-size: cover;

	form {
		margin: 0 auto;
		@extend %dark;
		font-family: $sans;
		padding: 1rem;
		text-align: center;
		max-width: 98rem;

		div {
			float: left;
			margin: 1rem;
			width: 18%;
			@media all and (max-width: 705px) {
				text-align: center;
				width: 60%;
				margin: 1rem 20%;
			}
			input {
				clear: left;
			}
		}

		input, label {
			float: left;
		}

		input {
			color: $dark;
			font-size: inherit;
			width: 100%;
			border: 1px solid #F2CFB5;
			border-radius: 2px;
			font-family: $sans;

			&[type=submit] {
				background-color: $light;
				border: none;
				padding: 0 2rem;
				width: initial;
				float: right;
				margin: 2.3rem 1rem; /* help */
				@media all and (max-width: 705px) {
					width: 60%;
					margin: 1rem 20%;
					padding: 1rem 2rem;
				}
			}

			&:focus {
				border: none;
			}
		}

		label {
			font-size: 1.2rem;
		}


		@extend %clearfix;
	}

	.overlay {
		background-color: transparentize($light, 0.5);
		color: $dark;
		width: 30%;
		@media all and (max-width: 850px) { width: 60%; }
		@media all and (max-width: 500px) { width: 100%; }
		margin: 0 auto;
		text-align: center;
		margin-top: 20vh;
		padding: 3rem;

		h3 {
			font-size: 3rem;
			margin: 0;
		}

		p {
			padding: 1rem;
		}
	}
}

blockquote {
	float: left;
	font-style: italic;

	cite {
		margin-top: 1rem;
		font-style: normal;
		float: right;
	}
}

.icons {
	text-align: center;
	margin: 1rem;

	ul {
		margin: 0; /*breaks at 641px*/
	}

	li {
		margin: 0 1rem;
		display: inline-block;
	}
}

.imageblock {
	background-color: $light;
	li {
		list-style-type: none;
		display: inline-block;
		width: 30%;
		margin: 0 9%;

		img {
			width: 100%;
			height: auto;
			margin: 0;
		}
	}
}

.contact {
	input,textarea {
		width: 100%;
		float: left;
		font-size: 1.5rem;
		border: 1px solid $second-medium;
		padding: 0.5rem;

		&[type=submit] {
			display: inline-block;
			width: initial;
			font-family: inherit;
			float: right;
			border: none;
			margin: 0.5rem;
			background-color: $light;
			font-weight: 300;
		}
	}

	textarea {
		resize: vertical;
	}

	li {
		list-style-type: none;
	}

	ul {
		margin: 2rem;
		padding: 0;
	}
}

.rooms {
	padding: 0 10vw;
	aside {
		width: 30%;
		padding: 0;
	}

	section {
		width: 70%;
		padding: 0;
	}
}
