/* header and footer */
header {
	margin: 0;
	padding: 1rem;
	@extend %dark;

	h1 {
		margin: 0;
		float: left;
	}

	p {
		font-family: $condensed;
		margin: 1rem;
		float: left;
		font-size: 2rem;
		height: 100%;
		@media all and (max-width: 520px) { display: none; }
	}

	@extend %clearfix;


	@media all and (max-width: 925px) {
		ul {
			clear: left;
			width: 100%;

			li {
				width: percentage(1/3);
				margin: 1rem 0;
				float: left;
			}
		}
	}

	ul {
		float: right;
	}

	li {
		list-style-type: none;
		display: block;

		@media all and (max-width: 500px) {
			width: 100%;
		}
	}
}

nav {
	background-color: $light;
	text-align: center;
	li {
		list-style-type: none;
		display: block;

		@media all and (min-width: 425px) {
			&:not(:last-child) {
				border-right: 1px solid $medium;
			}
			display: inline-block;
		}

		float: none;
		padding: 0.5rem 1rem;
		margin: 0.4rem 0;

		a {
			color: $dark;
			padding: 0.5rem 1rem;

			&.active {
				color: $medium;
			}
		}
	}
}


footer {
	@extend %dark;
	clear: both;

	h3 {
		margin: 1rem;
		font-family: $condensed;
	}

	& > ul {
		margin: 0;
		padding: 1rem;

		@extend %clearfix;

		& > li {
			margin: 0;
			vertical-align: text-top;
			display: block;
			float: left;
			@media screen and (max-width: 537px) {
				display: list-item;
				margin: 0 auto;
			}
			width: percentage(1/3);
			@media screen and (max-width: 660px) {
				width: 100%;
			}

			ul {
				padding: 0;
			}
		}
	}

	@media screen and (max-width: 660px) {
		div {
			text-align: center;
		}
	}

	ul {
		padding: 0 10vw;
	}

	& li {
		padding: 0.3rem 0;
		list-style-type: none;
	}
}

.copy {
	text-align: center;
	margin: 2rem;
	color: $medium;
}
