/* header and footer */
header {
	@extend %dark;

	h1 {
		margin: 0;
		float: left;
	}

	p {
		font-family: $condensed;
		margin: 0;
		float: left;
	}

	@extend %clearfix;

	li {
		list-style-type: none;
		display: inline-block;
		float: right;
	}

	margin: 0;
}

nav {
	background-color: $light;
	text-align: center;
	li {
		list-style-type: none;
		display: inline-block;
		float: none;
		padding: 0.5rem 1rem;
		margin: 0.4rem 0;

		&:not(:last-child) {
			border-right: 1px solid $medium;
		}

		a {
			color: $dark;
			// margin: 1rem;
			padding: 0.5rem 1rem;

			.active {
				color: $medium;
			}
		}
	}
}


footer {
	@extend %dark;
	clear: both;

	h3 {
		font-family: $condensed;
	}

	& > ul {
		margin: 0;
		padding: 1rem;

		& > li {
			vertical-align: text-top;
			display: inline-block;
			width: 33%;

			ul {
				padding: 0;
			}
		}
	}

	& li {
		list-style-type: none;
	}
}
