$condensed: 'Open Sans Condensed', sans-serif;
$helvetica: 'Helvetica Neue', sans-serif;
$sans: 'Open Sans', sans-serif;

$dark: #1e1e1e;
$medium: #70716c;
$second-medium: #a7a8aa;
$light-medium: #f4f4f4;
$light: #fff;
$light-colour: #F2CFB5;
