@charset "UTF-8";
/* Normalize */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:400);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Beginning of the stylesheet */
/* Utility styles and classes */
html {
  font-size: 62.5%;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  box-sizing: border-box; }

body {
  font-size: 1.6rem; }

*, *:before, *:after {
  box-sizing: inherit; }

.structural {
  display: none; }

.half-wrapper:after, .half:after, .opening form:after, .rooms section article:after, header:after, footer > ul:after {
  content: "";
  display: table;
  clear: both; }

.opening form, header, footer {
  background-color: #1e1e1e;
  color: #fff; }
  .opening form a, header a, footer a {
    color: #fff; }

/* basic styling */
a {
  color: #1e1e1e;
  text-decoration: none; }
  a:hover {
    color: #70716c; }

ul {
  margin: 0;
  padding: 0; }

ul {
  padding-left: 2rem; }
  ul li {
    margin: 1rem;
    list-style-type: disc; }

blockquote {
  margin: 1rem; }
  blockquote::before {
    content: '“'; }
  blockquote::after {
    content: '”'; }

.button {
  color: #1e1e1e;
  background-color: #fff;
  border-radius: 2px;
  padding: 0.2rem 2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

/* Layout */
.half-wrapper {
  overflow: hidden; }
  @media all and (min-width: 720px) {
    .half-wrapper {
      padding: 0 10vw; } }
  .half-wrapper:nth-of-type(2n+1) {
    background-color: #f4f4f4; }

.half {
  float: left;
  width: 50%;
  min-height: 200px;
  overflow: hidden; }
  .half img, .half iframe {
    max-height: 350px; }
  @media all and (max-width: 720px) {
    .half {
      width: 100vw; } }
  .half h2 {
    font-family: "Open Sans Condensed", sans-serif;
    padding-bottom: 1.5rem; }
  .half p {
    padding-top: 1rem; }
  .half:not(.image) {
    padding: 2rem; }
  .half.first {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 3rem; }
    .half.first h2 {
      background-color: #fff;
      width: 100vw;
      clear: both; }

h2.first {
  font-family: "Open Sans Condensed", sans-serif;
  padding-bottom: 1.5rem;
  font-size: 3rem;
  background-color: #fff;
  padding: 1.5rem 10vw;
  width: 100%; }

.full {
  width: 100%;
  padding: 2rem 10vw;
  font-family: "Open Sans Condensed", sans-serif;
  background: #f4f4f4;
  font-size: 2rem; }
  .full h2 {
    margin: 1rem 0; }

iframe {
  width: 100%;
  height: 100%;
  min-height: 300px;
  border: 0; }

.opening {
  height: 90vh;
  background-image: url("../img/hero.jpg");
  background-position: center;
  background-size: cover; }
  @media all and (max-width: 705px) {
    .opening {
      height: 120vh; } }
  @media all and (max-height: 510px) {
    .opening {
      height: 140vh; } }
  @media all and (max-height: 400px) {
    .opening {
      height: 160vh; } }
  @media all and (max-height: 340px) {
    .opening {
      height: 200vh; } }
  @media all and (max-height: 270px) {
    .opening {
      height: 240vh; } }
  .opening form {
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    padding: 1rem;
    text-align: center;
    max-width: 98rem; }
    .opening form div {
      float: left;
      margin: 1rem;
      width: 18%; }
      @media all and (max-width: 705px) {
        .opening form div {
          text-align: center;
          width: 60%;
          margin: 1rem 20%; } }
      .opening form div input {
        clear: left; }
    .opening form input, .opening form label {
      float: left; }
    .opening form input {
      color: #1e1e1e;
      font-size: inherit;
      width: 100%;
      border: 1px solid #F2CFB5;
      border-radius: 2px;
      font-family: "Open Sans", sans-serif; }
      .opening form input[type=submit] {
        background-color: #fff;
        border: none;
        padding: 0 2rem;
        width: initial;
        float: right;
        margin: 2.3rem 1rem;
        /* help */ }
        @media all and (max-width: 705px) {
          .opening form input[type=submit] {
            width: 60%;
            margin: 1rem 20%;
            padding: 1rem 2rem; } }
      .opening form input:focus {
        border: none; }
    .opening form label {
      font-size: 1.2rem; }
  .opening .overlay {
    background-color: rgba(255, 255, 255, 0.5);
    color: #1e1e1e;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20vh;
    padding: 3rem; }
    @media all and (max-width: 850px) {
      .opening .overlay {
        width: 60%; } }
    @media all and (max-width: 500px) {
      .opening .overlay {
        width: 100%; } }
    .opening .overlay h3 {
      font-size: 3rem;
      margin: 0; }
    .opening .overlay p {
      padding: 1rem; }

blockquote {
  float: left;
  font-style: italic; }
  blockquote cite {
    margin-top: 1rem;
    font-style: normal;
    float: right; }

.icons {
  text-align: center;
  margin: 1rem; }
  .icons ul {
    margin: 0;
    /*breaks at 641px*/ }
  .icons li {
    margin: 0 1rem;
    display: inline-block; }

.imageblock {
  background-color: #fff; }
  .imageblock li {
    list-style-type: none;
    display: inline-block;
    width: 30%;
    margin: 0 9%; }
    .imageblock li img {
      width: 100%;
      height: auto;
      margin: 0; }

.contact input, .contact textarea {
  width: 100%;
  float: left;
  font-size: 1.5rem;
  border: 1px solid #a7a8aa;
  padding: 0.5rem; }
  .contact input[type=submit], .contact textarea[type=submit] {
    display: inline-block;
    width: initial;
    font-family: inherit;
    float: right;
    border: none;
    margin: 0.5rem;
    background-color: #fff;
    font-weight: 300; }
.contact textarea {
  resize: vertical; }
.contact li {
  list-style-type: none; }
.contact ul {
  margin: 2rem;
  padding: 0; }

.rooms {
  padding: 0 10vw; }
  .rooms aside {
    width: 30%;
    float: left; }
    .rooms aside form {
      border-top: 1px #F2CFB5 solid;
      margin: 1rem; }
      .rooms aside form div {
        overflow: hidden;
        margin: 1rem;
        width: 100%; }
        .rooms aside form div input {
          width: 100%;
          clear: left;
          border: 1px #F2CFB5 solid;
          border-radius: 2px; }
      .rooms aside form label {
        font-size: 1.2rem; }
  .rooms section {
    width: 70%;
    float: left; }
    .rooms section article {
      padding: 2rem;
      border: 1px #F2CFB5 solid;
      border-right: none; }
      .rooms section article img {
        padding: 1rem;
        width: 35%;
        float: left; }
      .rooms section article h4, .rooms section article p, .rooms section article ul, .rooms section article div {
        width: 35%;
        float: left; }
      .rooms section article .icons {
        border-top: 1px #F2CFB5 solid;
        padding: 0; }
        .rooms section article .icons li {
          margin: 0.25rem;
          width: 3rem; }
        .rooms section article .icons svg {
          width: 100%; }
  .rooms .button {
    background-color: #D97B34;
    border: none;
    border-radius: 0;
    color: #fff;
    text-align: center; }

/* header and footer */
header {
  margin: 0;
  padding: 1rem; }
  header h1 {
    margin: 0;
    float: left; }
    @media all and (max-width: 520px) {
      header h1 {
        text-align: center;
        width: 100%; } }
  header p {
    font-family: "Open Sans Condensed", sans-serif;
    margin: 1rem;
    float: left;
    font-size: 2rem;
    height: 100%; }
    @media all and (max-width: 520px) {
      header p {
        display: none; } }
  @media all and (max-width: 925px) {
    header ul {
      clear: left;
      width: 100%; }
      header ul li {
        width: 33.33333%;
        margin: 1rem 0; } }
    @media all and (max-width: 925px) and (max-width: 520px) {
      header ul li {
        width: 100%;
        text-align: center; } }

  header ul {
    float: right; }
  header li {
    list-style-type: none;
    display: block;
    float: left; }
    @media all and (max-width: 500px) {
      header li {
        width: 100%; } }

nav {
  background-color: #f4f4f4;
  text-align: center;
  padding: 1rem; }
  nav li {
    list-style-type: none;
    display: block;
    float: none;
    padding: 0.5rem 1rem;
    margin: 0.4rem 0; }
    @media all and (min-width: 425px) {
      nav li {
        display: inline-block; }
        nav li:not(:last-child) {
          border-right: 1px solid #70716c; } }
    nav li a {
      color: #1e1e1e;
      padding: 0.5rem 1rem; }
      nav li a.active {
        color: #70716c; }

footer {
  clear: both; }
  footer h3 {
    margin: 1rem;
    font-family: "Open Sans Condensed", sans-serif; }
  footer > ul {
    margin: 0;
    padding: 1rem; }
    footer > ul > li {
      margin: 0;
      vertical-align: text-top;
      display: block;
      float: left;
      width: 33.33333%; }
      @media screen and (max-width: 537px) {
        footer > ul > li {
          display: list-item;
          margin: 0 auto; } }
      @media screen and (max-width: 660px) {
        footer > ul > li {
          width: 100%; } }
      footer > ul > li ul {
        padding: 0; }
  @media screen and (max-width: 660px) {
    footer div {
      text-align: center; } }
  footer ul {
    padding: 0 10vw; }
  footer li {
    padding: 0.3rem 0;
    list-style-type: none; }

.copy {
  text-align: center;
  margin: 2rem;
  color: #70716c; }

@font-face {
  font-family: 'FontAwesome';
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.facebook::before, .twitter::before, .google-plus::before, .visa::before, .mastercard::before, .paypal::before, .amex::before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  padding-right: 0.3rem;
  vertical-align: center; }

.facebook::before {
  content: ""; }

.twitter::before {
  content: ""; }

.google-plus::before {
  content: ""; }

.visa::before {
  content: ""; }

.mastercard::before {
  content: ""; }

.paypal::before {
  content: ""; }

.amex::before {
  content: ""; }

.social {
  visibility: hidden;
  display: inline-block;
  font-size: 0.01px;
  /*hide the space the text will still take up*/
  margin: 1rem; }
  .social:before {
    visibility: visible;
    font-size: 1.6rem; }

/* image replacement */
.icons svg {
  width: 4rem;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  display: block; }

/*# sourceMappingURL=style.css.map */
