@charset "UTF-8";
/* Normalize */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:400);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Beginning of the stylesheet */
/* Utility styles and classes */
html {
  font-size: 62.5%;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300; }

body {
  font-size: 1.6rem; }

.structural {
  display: none; }

#wifi, #furn, #park, #airp, #clean {
  display: block;
  background-size: 100%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

.half-wrapper .half:after, .opening form:after, header:after {
  content: "";
  display: table;
  clear: both; }

.opening form, header, footer {
  background-color: #1e1e1e;
  color: #fff; }
  .opening form a, header a, footer a {
    color: #fff; }

/* basic styling */
a {
  color: #1e1e1e;
  text-decoration: none; }
  a:hover {
    color: #70716c; }

ul {
  margin: 0;
  padding: 0; }

ul {
  padding-left: 2rem; }
  ul li {
    margin: 1rem;
    list-style-type: disc; }

blockquote {
  margin: 1rem; }
  blockquote::before {
    content: '“'; }
  blockquote::after {
    content: '”'; }

/* Layout */
.half-wrapper {
  overflow: hidden;
  width: 100vw; }
  .half-wrapper .half {
    float: left;
    width: 40vw;
    padding: 0;
    min-height: 200px;
    /* TODO: fix this */ }
    @media all and (max-width: 600px) {
      .half-wrapper .half {
        width: 100vw; } }
    .half-wrapper .half h2 {
      font-family: "Open Sans Condensed", sans-serif;
      padding: 1.5rem 0; }
    @media all and (min-width: 600px) {
      .half-wrapper .half:nth-of-type(4n), .half-wrapper .half:nth-of-type(4n-1) {
        background-color: #f4f4f4; }
      .half-wrapper .half:nth-of-type(2n) {
        padding-right: 10vw; }
      .half-wrapper .half:nth-of-type(2n-1) {
        padding-left: 10vw; } }

.full {
  width: 80vw;
  padding: 2rem 10vw;
  font-family: "Open Sans Condensed", sans-serif;
  background: #f4f4f4;
  font-size: 2rem; }
  .full h2 {
    margin: 1rem 0; }

iframe {
  width: 100%;
  height: 100%;
  min-height: 200px;
  border: 0; }

.opening {
  height: 90vh;
  background-image: url("../img/hero.jpg");
  -webkit-animation: image 10s infinite ease-in-out;
  background-position: center; }
  .opening form {
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
    padding: 1rem;
    text-align: center;
    max-width: 98rem; }
    .opening form div {
      float: left;
      margin: 1rem; }
      .opening form div input {
        clear: left; }
    .opening form input, .opening form label {
      float: left; }
    .opening form input {
      color: #1e1e1e;
      font-size: inherit; }
      .opening form input[type=submit] {
        background-color: #fff;
        border: none;
        font-family: "Open Sans", sans-serif;
        padding: 0 2rem;
        float: right;
        margin: 2rem 1rem; }
      .opening form input:focus {
        background-color: #70716c;
        color: #fff; }
    .opening form label {
      font-size: 1.2rem; }
  .opening .overlay {
    background-color: rgba(255, 255, 255, 0.5);
    color: #1e1e1e;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20vh;
    padding: 3rem; }
    .opening .overlay h3 {
      font-size: 3rem;
      margin: 0; }
    .opening .overlay p {
      padding: 1rem; }

blockquote {
  float: left;
  font-style: italic; }
  blockquote cite {
    margin-top: 1rem;
    font-style: normal;
    float: right; }

.icons {
  text-align: center;
  margin: 1rem; }
  .icons li {
    margin: 0 1rem;
    display: inline-block; }

.imageblock {
  background-color: #fff; }
  .imageblock li {
    list-style-type: none;
    display: inline-block;
    width: 30%;
    margin: 0 9%; }
    .imageblock li img {
      width: 100%;
      height: auto;
      margin: 0; }

/* header and footer */
header {
  margin: 0;
  padding: 1rem; }
  header h1 {
    margin: 0;
    float: left; }
  header p {
    font-family: "Open Sans Condensed", sans-serif;
    margin: 1rem;
    float: left;
    font-size: 2rem;
    height: 100%; }
  header li {
    list-style-type: none;
    display: inline-block;
    float: right; }

nav {
  background-color: #fff;
  text-align: center; }
  nav li {
    list-style-type: none;
    display: inline-block;
    float: none;
    padding: 0.5rem 1rem;
    margin: 0.4rem 0; }
    nav li:not(:last-child) {
      border-right: 1px solid #70716c; }
    nav li a {
      color: #1e1e1e;
      padding: 0.5rem 1rem; }
      nav li a.active {
        color: #70716c; }

footer {
  clear: both; }
  footer h3 {
    margin: 1rem;
    font-family: "Open Sans Condensed", sans-serif; }
  footer > ul {
    margin: 0;
    padding: 1rem; }
    footer > ul > li {
      margin: 0;
      vertical-align: text-top;
      display: inline-block;
      width: 33%; }
      footer > ul > li ul {
        padding: 0; }
  footer ul {
    padding: 0 10vw; }
  footer li {
    padding: 0.3rem 0;
    list-style-type: none; }

.copy {
  text-align: center;
  margin: 2rem;
  color: #70716c; }

@font-face {
  font-family: 'FontAwesome';
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.facebook::before, .twitter::before, .google-plus::before, .visa::before, .mastercard::before, .paypal::before, .amex::before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  padding-right: 0.3rem;
  vertical-align: center; }

.facebook::before {
  content: ""; }

.twitter::before {
  content: ""; }

.google-plus::before {
  content: ""; }

.visa::before {
  content: ""; }

.mastercard::before {
  content: ""; }

.paypal::before {
  content: ""; }

.amex::before {
  content: ""; }

.social {
  visibility: hidden;
  display: inline-block;
  font-size: 0.01px;
  /*hide the space the text will still take up*/
  margin: 1rem; }
  .social:before {
    visibility: visible;
    font-size: 1.6rem; }

/* image replacement */
#wifi, #furn, #park, #airp, #clean {
  width: 4rem;
  height: 4rem; }

#wifi {
  background-image: url("../img/icon-wifi.png"); }

#furn {
  background-image: url("../img/icon-furnished.png"); }

#park {
  background-image: url("../img/icon-parking.png"); }

#airp {
  background-image: url("../img/icon-airport.png"); }

#clean {
  background-image: url("../img/icon-cleaning.png"); }

/*# sourceMappingURL=style.css.map */
